###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
!/var/cache
/var/cache/*
!/var/cache/.gitkeep
!/var/log
/var/log/*
!/var/log/.gitkeep
/var/
/vendor/*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

### Editors ###
.idea/
.DS_Store
.vagrant
Vagrantfile

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
